@import '../../assets/styles/variables.scss';

.card {

  &__articleImg {
    z-index: 10;
  }

  &__body {
    display: flex;
    border-radius: 5px;
    border: solid 1px #dfdfec;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 40px;
    overflow: hidden;
    position: relative;

    &:hover {
      box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.5);
    }

    &:before {
      content: "";
      top: 0;
      right: 0;
      bottom: 40px;
      left: 0;
      position: absolute;
      width: 100%;
      border-bottom: 1px solid #dfdfec;
    }
  
    .articlePreviewInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      padding: 16px 20px 14px 34px;

      &__date {
        position: relative;
        font-size: 12px;
        color: $colors-navy-light;
        padding-left: 24px;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          background: url("../../public/calendar.svg") no-repeat;
          width: 100%;
          height: 16px;
        }
      }
    
      &__title {
        font-family: $font-gibson;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.17;
        color: $colors-font-dark;
      }
    
      &__text {
        font-size: 14px;
        line-height: 1.57;
        color: #505669;
      }
    
      &__category {
        font-size: 12px;
        color: #505669;
        text-transform: capitalize;
        position: relative;
        padding-left: 24px;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          background: url("../../public/folder.svg") no-repeat;
          width: 100%;
          height: 16px;
        }
      }
    }
  }
}


@media (min-width: 360px) and (max-width: 480px) {

  .card__body {
    flex-direction: column;
    .articlePreviewInfo {
      padding: 8px 0 14px 0;
      &__text {
        margin: 12px 20px 27px 20px;
      }

      &__date, &__title, &__category {
        margin: 0 20px;
      }

      &__date {
        margin-bottom: 9px;
      }

      &__title {
        font-size: 20px;
        line-height: 1.4;
      }
    }
  }
  
}