@import '../../assets/styles/variables.scss';

.mainSection {
  position: relative;
  padding: 100px 0 0;
  background-color: $colors-bg-dark-blue;

  &__title {
    font-family: $font-gibson;
    font-size: $font-size-biggest-xxl;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 1.52px;
    text-align: center;
    color: $colors-white;
    padding-bottom: 130px;
  }

  &__subtitle{
    font-family: $font-gibson;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.27;
    text-align: center;
    color: $colors-white;
    padding-bottom: 134px;
  }

  @media (min-width: 360px) and (max-width: 480px) {
    padding: 0 15px;
    margin-bottom: 35px;

    &__title {
      font-size: 30px;
      line-height: 1.33;
      letter-spacing: 0.91px;
      padding-bottom: 0;
    }

    &__subtitle {
      font-size: 18px;
      line-height: 1.44;
      margin-bottom: 0;
      padding-bottom: 67px;
    }
  }
}
