@import '../assets/styles/variables.scss';
@import './base.scss';
@import '../components/categories_list/categories_list.scss';
@import '../components/main_section/main_section.scss';

.articleWrapper {
  .mainSection {
    &__title {
      padding-bottom: 134px;
    }
  }

  p {
    margin-bottom: 50px;
  }

  h3 {
    margin: 70px 0 40px;
  }

  blockquote {
    border-left: 5px solid #5876e1;
    padding: 29px 47px 34px;
    margin: 0;
    background-color: #f4f4f8;
    font-size: 21px;
    font-weight: 600;
    line-height: 1.81;
    color: #505669;
  }

  img,
  video {
    max-width: 100%;
  }

  a:not(.categoriesList__link) {
    color: #5876e1;
    font-weight: 700;
    text-decoration: underline;
  }

  .articleContent {
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
  }

  .articleInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 24px;

    &__date {
      position: relative;
      font-size: 16px;
      color: $colors-navy-light;

      &:before {
        content: '';
        position: absolute;
        top: 3px;
        right: 0;
        left: -30px;
        bottom: 0;
        background: url('../public/calendar.svg') no-repeat;
        width: 100%;
        height: 16px;
      }
    }

    &__category {
      position: relative;
      font-size: 16px;
      color: $colors-navy-light;
      // padding-left: 30px;

      &:before {
        content: '';
        position: absolute;
        top: 3px;
        right: 0px;
        left: -30px;
        bottom: 0;
        background: url('../public/folder.svg') no-repeat;
        width: 100%;
        height: 16px;
      }
    }
  }

  @media (min-width: 360px) and (max-width: 480px) {
    .articleInfo {
      flex-direction: column;
      margin-left: 30px;
    }
  }
}
