@import '../assets/styles/variables.scss';

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.mainWrapper {
  width: 100%;
}

.container {
  max-width: 1760px;
  min-width: 860px;
  width: 100%;
  margin: 0 auto;
}

.contentWrapper {
  display: flex;
  padding-top: 53px;
  justify-content: space-between;
}

.mainContent {
  width: 78%;
}

.sideBar {
  width: 20%;
}

@media (min-width: 360px) and (max-width: 480px) {
  .container {
    min-width: 360px;

  }
  .contentWrapper {
    flex-direction: column-reverse;
    padding: 0 15px;
  }

  .mainContent {
    width: 100%;
  }
  
  .sideBar {
    width: 100%;
  }
}