@import '../../assets/styles/variables.scss';

.categoriesList {
  &__wrapper {
    color: #505669 !important;
    margin: 0;
    padding: 0 0 0 18px;
  }

  &__title {
    font-family: $font-gibson;
    font-size: 21px;
    font-weight: 500;
    color: #171717;
    margin: 0 0 23px 0;
  }

  &__item {
    color: #dfdfec;
    margin-bottom: 25px;
  }

  &__link {
    font-size: 16px;
    text-transform: capitalize;
    color: #505669 !important;
    font-weight: 400 !important;
    &:hover {
      color:#5876e1 !important;
      text-decoration: underline;
    }
  }
}