@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap);
/* Gibson font, not free. Alias: canada-type-gibson, weight: 400, 400i, 700, 700i.*/
@import url(https://use.typekit.net/qsn3poi.css);


$colors-white: #ffffff;
$colors-black: #000;
$colors-blue: #5876e1;
$colors-blue-accent: #567BFF;
$colors-blue-dark-accent: #4b5cc8;
$colors-font-light-blue: #c6cde7;
$colors-font-dark: #1d1c3b;
$colors-font-lighter: #141321;
$colors-blue-dark: #333A58;
$colors-blue-darker: #2a2f3f;
$colors-blue-darkest: #3d38a0;
$colors-blue-most-dark: #272376;
$colors-blue-light: #595e72;
$colors-blue-lighter: #adacc9;
$colors-gray-light: #f4f4f8;
$colors-navy-light: #8991a8;
$colors-gray-dark: #7d8090;
$colors-gray-semidark: #c6cde7;
$colors-gray: #ccc;
$colors-gray-9: #9e9d9d;
$colors-border-light: rgba(0, 0, 0, .1);
$colors-bg-light-navy: #1c1c2f;
$colors-bg-dark-blue: #191833;

$colors-gray-border: #dfdfec;
$colors-font-darker: #13131c;
$colors-font-lilac-lake: #b6b5cf;

$font-size-zero: 0;
$font-size-less: 15px;
$font-size-normal: 16px;
$font-size-medium: 20px;
$font-size-big: 22px;
$font-size-header: 28px;
$font-size-bigger: 30px;
$font-size-biggest: 36px;
$font-size-biggest-xxl: 50px;

/* Fonts. */
$font-gibson: 'canada-type-gibson';
$font-open-sans: 'Open Sans';
//$font-awesome: 'FontAwesome';

html {
  scroll-behavior: smooth;
  font-family: $font-open-sans;
}

:export {
  colorsWhite: $colors-white;
}
